<div class="col-md-6 offset-md-3 col-12 mt-5">
    <h3 class="mb-3 ">Create New Task*</h3>
    <form [formGroup]="newTaskData" (ngSubmit)="addTask()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea class="form-control" formControlName="desc" id="desc" cols="10" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="date">Due Date</label>
          <input type="date" class="form-control" id="date" formControlName="date">
        </div>
        <button type="submit" class="btn btn-primary text-center">Submit</button>
      </form>
</div>

